body {
    width: 960px;
    margin: 1em auto;
}

#footer {
    font-size: 85%;
    margin-top: 3em;
    width: 100%;
    text-align: center;
}

#editor {
    width: 600px;
    margin: 1em auto;
    border: 1px solid #ccc;
    padding: .5em;
}